<head>
  <link rel="stylesheet" href="pagina-busqueda.component.css">
</head>

<div>
  <app-filtros class="filtros" (filtrosBusquedaOutPut)="filtrar($event)" ></app-filtros>
</div>

<div class="container-position">

    <div class="container-position__parteTarjetaMapa__tarjetas">
      <app-tarjetas class="tarjetas" *ngIf = "inmueblesFiltrados.length != 0" [datos]="inmueblesFiltrados"></app-tarjetas>
    </div>
    <div class="container-position__parteTarjetaMapa__mapa">
      <app-mapa class="mapa" *ngIf = "inmueblesFiltrados.length != 0" [datos]="inmueblesFiltrados" (ciudadOutPut)="ciudadFiltradaMetodo($event)"></app-mapa>
    </div>

</div>







