body{
    background-image: url('https://wallpaperaccess.com/full/1126773.jpg');
    background-repeat: no-repeat;
    background-size:100% 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
}

.navbar__right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
}

.title{
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
}

button{
    color: white;
    
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


